<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="La boutique qui vend uniquement des produits latino">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %} La Boutique Latino - 100% latino  {% endblock %}</title>
    <meta name="description" content="boutique en ligne vendant des produits latino en grande quantité">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('asset/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylsheet" href="{{ asset('assets/css/boutiquelatino.css')}}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('asset/css/carousel.css')}}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{path('home')}}">LaBoutiqueLatino</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('products')}}">Nos produits</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('contact')}}">Contact</a>
                </li>
            </ul>
            <div class="navbar-item-custom">
           {% if app.user %}
                <a href="{{ path('app_account')}}">Mon compte<small>({{ app.user.firstname}})</small></a> | <a href="{{ path('app_logout')}}">Déconnexion</a>
           {% else %}
                <a href="{{ path('app_login')}}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
           {% endif %}
           </div>
           <a href="{{path('cart')}}">
           <img src="{{asset('assets/img*shopping-cart.png') }}" class="cart-icon">Mon panier</a>
        </div>
    </nav>
</header>

<main role="main">
    
    {% if block('carousel') is defined%}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlms="" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Notre découverte du jour </h1>
                        <img src ="/asset/img/salsahuacatay.jpg" height="200px">
                        <p>Sauce péruvienne préparer avec des feuilles de hucatay , épicer et relevée elle apporte une petite saveur aromatique</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>INCA KOLA .</h1>
                        <img src="/asset/img/inca.jpg" height ="200px"><p>L'Inca Kola est une boisson gazeuse péruvienne. Ce cola est la boisson gazeuse nationale, il est consommer par tous les habitants.</p>
                        
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
                <div class="container">
                    <div class="carousel-caption text-right">
                        <h2>Aji Amarillo.</h2>
                        <img src ="/asset/img/aji.jpg" height= "200px"><p>L'Ají Amarillo, littéralement Piment jaune, est la variété la plus utilisée dans la cuisine péruvienne. Très aromatique, très goûteuse et moyennement relevée, cette purée d'Ají Amarillo vous sera indispensable.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Precedent</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
    {% endif %}


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">

       {% block  content %}
       {% endblock %}

    </div><!-- /.container -->

    <!-- FOOTER -->
    <footer class="footer-custom">
        
        <p>
        &copy; 2021-2022 La boutique latino , Inc. <br/>
        <small>La boutique 100% made in latina-america<br/>
             <a href="#">Privacy</a> . <a href="#">Terms</a></p>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('asset/js/bootstrap.bundle.js')}} "></script>
</body>
</html>