{% extends "base.html.twig" %}

{% block body %}

<h2>Mon récapitulatif</h2>
	<p> Vérifiez vos informations avant de payer votre commmande</p>
	<hr>
	<div class="row">
		<div class="col-md-6">
            <strong> Mon adresse de livraison </strong><br/>
            <div class="form-check mt-4">
             {{ delivery| raw}}
             </div>
             <hr>
             <strong>Mon transporteur</strong>
             <div class="form-check">
                    {{ carrier.name}}<br/>
                    {{ carrier.description}}<br/>
                    {{carrier.price | number_format(2, ',','.')}} €
			</div>
			<div class="col-md-6">
            <div class="text-center">
				<b> Ma commande</b><br/>
                <p>Retrouvez le récapitulatif de vos produits.</p>
				<div clas="order-summary">
				{% for key,product  in cart %}
					<div class="row {% if key > 0 %}mt-2{% endif %}">
						<div class="col-2 my-auto">
							<img src="/uploads/{{product.product.illustration}}" alt="{{product.product.name}}" height="75px"><br/>
						</div>
						<div class="col-8">
							{{product.product.name}}<br/>
                            <small>
                            {{ product.product.subtitle }}
                                <br/>
                            x{{ product.quantity }}
                            </small>
						</div>
						<div class="col-2 my-auto">
		                    {{(product.product.price * product.quantity/100)|number_format(2, ',','.')}}€
						</div>
					</div>
				{% endfor %}
			</div>

            <hr>
            <strong>Sous-Total :</strong> {{(total /100)|number_format(2, ',','.')}}€ <br/>
            <strong>Livraison : </strong> {{(carrier.price)|number_format(2, ',','.')}}€ 
            <hr>
            <strong>Total : </strong> {{ ((total /100) + carrier.price)|number_format(2, ',' , ',')}}€
		</div>
	</div>







{% endblock %}